<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		
	<section id="folha" th:fragment="meuEstoque">
		<link rel="stylesheet" href="css/listarProd.css">
		<section>
		<legend>Meu Estoque</legend>
		<div>
            <div class="container">
                <div class="row">
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">arroz</span><br>
                        Preço: R$ 2,50<br>
                        Quantidade: 25<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">Feijão</span><br>
                        Preço: R$ 5,00<br>
                        Quantidade: 45<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Macarrão</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Açucar</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                </div><div class="row">
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">arroz</span><br>
                        Preço: R$ 2,50<br>
                        Quantidade: 25<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">Feijão</span><br>
                        Preço: R$ 5,00<br>
                        Quantidade: 45<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Macarrão</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Açucar</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                </div><div class="row">
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">arroz</span><br>
                        Preço: R$ 2,50<br>
                        Quantidade: 25<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">Feijão</span><br>
                        Preço: R$ 5,00<br>
                        Quantidade: 45<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Macarrão</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Açucar</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">arroz</span><br>
                        Preço: R$ 2,50<br>
                        Quantidade: 25<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridPadrao gridProduto">
                        <span class="produtoNome">Feijão</span><br>
                        Preço: R$ 5,00<br>
                        Quantidade: 45<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Macarrão</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                    <div class="col gridRight gridProduto">
                        <span class="produtoNome">Açucar</span><br>
                        Preço: R$ 2,00<br>
                        Quantidade: 16<br>
                        <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                        <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                    </div>
                </div>
            </div>
		</div>
		</section>
	</section>
	</body>
</html>