<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
	
	<nav class="navbar navbar-light bg-light" id="navbarTop" th:fragment="navbar">
        <span class="navbar-brand mb-0 h1">Meu Estoque</span>
    </nav>
	
	<div class="list-group" th:fragment="menuLateral">
        <a href="/produto/cadastrarProduto?id=0" class="list-group-item list-group-item-action">Cadastrar
                Produtos</a>
    	<a href="/meuEstoque" class="list-group-item list-group-item-action">Listar Produtos</a>
    </div>
	
	</body>
</html>