<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/listarProd.css">
</head>

<body>
    <nav class="navbar navbar-light bg-light" id="navbarTop">
        <span class="navbar-brand mb-0 h1">Meu Estoque</span>
    </nav>
    <table id="pagina">
        <tr>
            <td id="navbarEsquerda">
                <div class="list-group">
                    <a href="cadastrarProduto" class="list-group-item list-group-item-action">Cadastrar
                        Produtos</a>
                    <a href="meuEstoque" class="list-group-item list-group-item-action">Listar Produtos</a>
                </div>
            </td>
            <td id="tdfolha" class="escuro">
                <legend id="tituloUpPage">Meu Estoque</legend>
                <div id="folha" >
                    <div class="container">
                        <div class="row">
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">arroz</span><br>
                                Preço: R$ 2,50<br>
                                Quantidade: 25<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">Feijão</span><br>
                                Preço: R$ 5,00<br>
                                Quantidade: 45<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Macarrão</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Açucar</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                        </div><div class="row">
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">arroz</span><br>
                                Preço: R$ 2,50<br>
                                Quantidade: 25<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">Feijão</span><br>
                                Preço: R$ 5,00<br>
                                Quantidade: 45<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Macarrão</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Açucar</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                        </div><div class="row">
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">arroz</span><br>
                                Preço: R$ 2,50<br>
                                Quantidade: 25<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">Feijão</span><br>
                                Preço: R$ 5,00<br>
                                Quantidade: 45<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Macarrão</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Açucar</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">arroz</span><br>
                                Preço: R$ 2,50<br>
                                Quantidade: 25<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridPadrao gridProduto">
                                <span class="produtoNome">Feijão</span><br>
                                Preço: R$ 5,00<br>
                                Quantidade: 45<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Macarrão</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                            <div class="col gridRight gridProduto">
                                <span class="produtoNome">Açucar</span><br>
                                Preço: R$ 2,00<br>
                                Quantidade: 16<br>
                                <button type="button" class="btn btn-danger" style="font-size:10px">Remover</button>
                                <button type="button" class="btn btn-warning" style="font-size:10px">Adicionar</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>