<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Estoque</title>
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/layout.css">
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light" id="navbarTop">
        <span class="navbar-brand mb-0 h1">Meu Estoque</span>
    </nav>
    <table id="pagina">
        <tr>
            <td id="navbarEsquerda" th:insert="componentes/navbarComp :: menuLateral">
                <div>menulateral</div>
            </td>
            <td id="tdfolha" th:insert="componentes/cadastrarProdutoComp :: cadastro">
                
            </td>
        </tr>
    </table>
</body>

</html>