<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Estoque</title> 
	<div th:include="componentes/compImportBootstrap :: importBootstrap"></div>
</head>

<body>
    <nav class="navbar navbar-light bg-light" id="navbarTop">
        <span class="navbar-brand mb-0 h1">Meu Estoque</span>
    </nav>
    <table id="pagina">
        <tr>
            <td id="navbarEsquerda" th:insert="componentes/navbarComp :: menuLateral">
                <div>menulateral</div>
            </td>
            <td id="tdfolha" th:insert="componentes/cadastrarProdutoComp :: cadastro">
                
            </td>
        </tr>
    </table>
</body>

</html>