<!DOCTYPE html>
<html lang="pt" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Document</title>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/layout.css">
	    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
	</head>
	<body>
	
		<nav th:replace="componentes/navbarComp :: navbar">
			<div>navbar</div>
		</nav>
		
		<table id="pagina">
        <tr>
            <td id="navbarEsquerda" th:insert="componentes/navbarComp :: menuLateral">
                <div>
                    navbarEsquerda
                </div>
            </td>
            <td id="tdfolha" th:insert="componentes/meuEstoqueComp :: meuEstoque">
                <div>folha</div>
            </td>
        </tr>
    </table>
	</body>
</html>