<!DOCTYPE html>
<html lang="pt" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Document</title>

		<div th:replace="componentes/compImportBootstrap :: importBootstrap"></div>
		
	</head>
	<body>
	
		<nav th:replace="componentes/navbarComp :: navbar">
			<div>navbar</div>
		</nav>
		
		<table id="pagina">
        <tr>
            <td id="navbarEsquerda" th:insert="componentes/navbarComp :: menuLateral">
                <div>
                    navbarEsquerda
                </div>
            </td>
            <td id="tdfolha" th:insert="componentes/meuEstoqueComp :: meuEstoque">
                <div>folha</div>
            </td>
        </tr>
    </table>
	</body>
</html>